# generated outputs
out
**/*.test
**/*.prof
profiles
!samplegraph.html

# python venv
venv

graphs

# data directories
data
data_final/*
temp

test*.go
coauthor.txt
**/__pycache__
**/*.pgo

# binaries
tvd
!cmd/tvd
main
main.exe
tvd.exe
cvd*

# test files
tex/test
scripts/test.py

# old files
img/rev*

TODO.MD